body {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}
h1 {
  font-size: 50px;
}
.world_color {
  color: #ffa500;
}
.hero {
  background-image: url("/images/top-banner.png");
  background-repeat: no-repeat;
}
.hero_container {
  display: flex;
}
.half_width {
  width: 50%;
  padding-left: 5%;
}
.half_width img {
  width: 80%;
}
.link_button {
  text-decoration: none;
  background: linear-gradient(#ff0303, #ffa500e6);
  padding: 5px 15px;
  color: #ffff;
  font-weight: 500;
}
.dream_big_container {
  display: flex;
}
.bream_big_img img {
  width: 80%;
}
section {
  height: 500px;
  padding-bottom: 150px;
}
.dream-big {
  background-image: url("/images/dream-bg.png");
  background-repeat: no-repeat;
  background-position: right;
}
.dream_big_para {
  padding: 0 6%;
}
h2 {
  font-size: 40px;
}
.main_expriection_container {
  display: flex;
}
.item_one {
  width: 43%;

  margin-left: 3%;
  padding-left: 3%;
  box-shadow: 5px 7px 40px gray;
  padding-bottom: 70px;
}

footer {
  text-align: center;
}
